@model MvcOnlineTicariOtamasyons.Models.Sınıflar.Kategori
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2 class="mt-4 mb-4">Kategori Güncelleme</h2>

@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
    <div class="w-50 mx-auto">
        <div class="mb-3">
            @Html.LabelFor(x => x.KategoriAdi, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.KategoriAdi, new { @class = "form-control" })
            @Html.HiddenFor(x => x.KategoriID)
        </div>
        <button type="submit" class="btn btn-warning">Güncelle</button>
    </div>
}
