@{
    ViewBag.Title = "Ana Sayfa";
}

<main class="bg-dark text-white p-5">
    <section class="row mb-4" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET, HTML, CSS ve JavaScript kullanarak harika web siteleri ve uygulamaları geliştirmenizi sağlayan ücretsiz bir web frameworküdür.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Daha Fazla Bilgi &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4 mb-3" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Başlarken</h2>
            <p>
                ASP.NET MVC, dinamik web siteleri geliştirmenizi sağlayan güçlü ve kalıplara dayalı bir yapıdır.
                Temiz bir katman ayrımı sağlar ve geliştirmenin her aşamasında kontrol sunar.
            </p>
            <p><a class="btn btn-outline-light" href="https://go.microsoft.com/fwlink/?LinkId=301865">Daha Fazla Bilgi &raquo;</a></p>
        </section>
        <section class="col-md-4 mb-3" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Daha Fazla Kütüphane Edin</h2>
            <p>NuGet, Visual Studio projelerine kolayca kütüphane eklemenizi, kaldırmanızı ve güncellemenizi sağlayan ücretsiz bir uzantıdır.</p>
            <p><a class="btn btn-outline-light" href="https://go.microsoft.com/fwlink/?LinkId=301866">Daha Fazla Bilgi &raquo;</a></p>
        </section>
        <section class="col-md-4 mb-3" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>Uygulamalarınız için uygun fiyat ve özellikler sunan bir web hosting sağlayıcısı bulmanız oldukça kolay.</p>
            <p><a class="btn btn-outline-light" href="https://go.microsoft.com/fwlink/?LinkId=301867">Daha Fazla Bilgi &raquo;</a></p>
        </section>
    </div>
</main>
